.section h1 {
    text-align: center;
    font-size: 7.5vw;
    color: white;
    font-weight: 900;
}

.section h2 {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

.section p {
    text-align: center;
    font-size: 1.5em;
    color: white;
}

#section1row1 {
    margin-top: 2em;
    margin-bottom: 2em;
}

/* Botón hamburguesa, para desplazar el menú */
.menubotton {
    position: absolute;
    z-index: 1;
    margin-top: 1em;
    margin-left: 1em;
}

#section5 h2 {
    font-size: 2rem;
}

#section3 .row {
    margin-top: 4em;
}

#section3 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#section4-subp {
    text-align: left;
    color: white;
    font-size: 1.2em;
    margin-top: 2em;
}

.fp-controlArrow {
    top: 90%;
    opacity: 0.5;
}

#ufw-slide p {
    text-align: left;
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 0px;
}

#ufw-slide span {
    color: seagreen;
}

#ufw-slide .row {
    padding-left: 0.5em;
}

#transfers-slide p {
    font-size: 1em;
    text-align: left;
    margin-bottom: 0px;
}