/* This file is part of ALVVDC1846 Portfolio.

ALVVDC1846 Portfolio is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ALVVDC1846 Portfolio is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ALVVDC1846 Portfolio.  If not, see <https://www.gnu.org/licenses/>. */

h1 {
    text-align: center;
    font-size: 7.5vw;
    color: white;
    font-weight: 900;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.7);
}

h3 {
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

p {
    text-align: justify;
    font-size: 1rem;
    color: white;
}

.callout p {
    color: black;
    text-align: justify;
}

/* Botón hamburguesa, para desplazar el menú */
.menubotton {
    position: absolute;
    z-index: 1;
    margin-top: 1em;
    margin-left: 1em;
}

/* .fp-controlArrow {
    top: 90%;
    opacity: 0.5;
} */

#navDrawer {
    background: white;
}

#navDrawer a {
    color: #444444;
}

#menu-top {
    background: rgba(255, 99, 71, 0.7);
}

#menu-row {
    padding-left: 0;
    padding-right: 0;
}

#menu-row #foto, #menu-row h5, #menu-row h6, #menu-bottom {
    padding-left: .9375rem;
    padding-right: .9375rem;
}

#menu-row h5 { /* Álvaro García */
    color: white;
    font-weight: 800;
    text-align: left;
    margin-top: 0.5em;
    margin-bottom: 0;
}

#menu-row h6 { /* Desarrollador */
    color: rgba(255, 255, 255, 0.7);
    text-align: left;
    padding-bottom: 0.2em;
}

/* HOME */
#home .row {
    margin-top: 2em;
    margin-bottom: 2em;
}


/* TECHNOLOGIES */
#technologies h1 {
    padding-top: 0px;
    margin-top: 0.4em;
}

#technologies img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 200px;
    max-width: auto;
    padding: 1em;
}

#databases {
    margin-top: 1em;
}

#othersTechnologies {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 1em;
}


/* PROJECTS */
#projects i {
    font-size: 5rem;
    color: white;
}

#projects p {
    text-align: center;
}


/* SECONDLIFE */
#secondlife img {
    max-height: 100vh;
    width: auto;
    display: block;
}


/* NEWSPAPER */
#newspaper img {
    max-height: 100vh;
    width: auto;
    display: block;
}

#newspaper p a {
    color: rgba(255, 255, 255, 0.425);
    text-decoration: underline;
}


/* SOCIAL */
#social img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

