.section h1 {
    text-align: center;
    font-size: 7.5vw;
    color: white;
    font-weight: 900;
}

.section h2 {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

.section p {
    text-align: center;
    font-size: 1.5em;
    color: white;
}

#section1row1 {
    margin-top: 2em;
    margin-bottom: 2em;
}

/* Botón hamburguesa, para desplazar el menú */
.menubotton {
    position: absolute;
    z-index: 1;
    margin-top: 1em;
    margin-left: 1em;
}

#section5 h2 {
    font-size: 2rem;
}

#section3 .row {
    margin-top: 4em;
}

#section3 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}